## 라이브러리 로드

In [1]:
import pandas as pd
import numpy as np

## eval() 함수와 exec() 함수
#### eval() 함수 : '수식' 연산
- 기본적으로 문자열로 된 수식을 Input으로 받아 그 결과를 return 하는 함수

#### exec() 함수 : '코드' 실행
- 기본적으로 문자열로 된 코드를 input 받아 그 코드를 실행만 시키고, 아무것도 return 하지 않는 함수

In [2]:
for i in range(1,4):
    exec(f"var_{i} = list(range(i))")
 
for i in range(1,4):
    print(f'var_{i} :',eval(f'var_{i}'))

var_1 : [0]
var_2 : [0, 1]
var_3 : [0, 1, 2]

In [10]:
my_dict = {"a": [1, 3], "b": [1, 2], "c": [2, 4]}
a = (pd.DataFrame(my_dict))

for i in range(2):
#     cmd = "df"+str(i)+"= a" 
#     exec(cmd)
#     cmd = "df"+str(i)+"= pd.read_csv('data"+str(i)+".csv')"

    exec(f"df_{i+1} = a")

In [175]:
print(df_1)
print(df_2)

   a  b  c  CHAR001
0  1  1  2        4
1  3  2  4        9
   a  b  c  CHAR001
0  1  1  2        4
1  3  2  4        9

In [13]:
# 문자형변수 -> 수치형 변수
df_1.astype(int) # int 또는 float 사용가능

   a  b  c
0  1  1  2
1  3  2  4

### feature 생성 함수
- 1) 합계
- 2) 평균
- 3) 최소값 
- 4) 최대값
- 5) 표준편차
- 6) 연속증가개월수
- 7) 비율(백분율)

In [182]:
woori = pd.DataFrame({"a_10": [0, 1, 3, 5], "a_11": [0, 2, 2, 4], "a_12": [0, 3, 4, 2]})

In [183]:
# 합계
def f_sum(df, component, char): # df : 데이터프레임, component : 사용항목, char : 파생변수명 
  
    c_list = [component + str(i+10) for i in range(0,3)] # x_list : 연산에 사용할 항목들 리스트로 저장( 변수명_10~변수명_12 )
    df[char] = df[c_list].sum(axis=1).round() # 소수점 첫째자리 반올림

In [184]:
# 평균
def f_avg(df, component, char): # df : 데이터프레임, component : 사용항목, char : 파생변수명 
  
    c_list = [component + str(i+10) for i in range(0,3)] # x_list : 연산에 사용할 항목들 리스트로 저장( 변수명_10~변수명_12 )
    df[char] = df[c_list].mean(axis=1).round(1) # 소수점 첫째자리 반올림

In [185]:
# 최소값
def f_min(df, component, char): # df : 데이터프레임, component : 사용항목, char : 파생변수명 
  
    c_list = [component + str(i+10) for i in range(0,3)] # x_list : 연산에 사용할 항목들 리스트로 저장( 변수명_10~변수명_12 )
    df[char] = df[c_list].min(axis=1).round(1) # 소수점 첫째자리 반올림

In [186]:
# 최대값
def f_max(df, component, char): # df : 데이터프레임, component : 사용항목, char : 파생변수명 
  
    c_list = [component + str(i+10) for i in range(0,3)] # x_list : 연산에 사용할 항목들 리스트로 저장( 변수명_10~변수명_12 )
    df[char] = df[c_list].max(axis=1).round(1) # 소수점 첫째자리 반올림

In [187]:
# 표준편차
def f_std(df, component, char): # df : 데이터프레임, component : 사용항목, char : 파생변수명 
  
    c_list = [component + str(i+10) for i in range(0,3)] # x_list : 연산에 사용할 항목들 리스트로 저장( 변수명_10~변수명_12 )
    df[char] = df[c_list].std(axis=1).round(1) # 소수점 첫째자리 반올림

In [188]:
f_sum(woori,"a_","char001")
f_avg(woori,"a_","char002")
f_min(woori,"a_","char003")
f_max(woori,"a_","char004")
f_std(woori,"a_","char005")
woori

   a_10  a_11  a_12  char001  char002  char003  char004  char005
0     0     0     0        0      0.0        0        0      0.0
1     1     2     3        6      2.0        1        3      1.0
2     3     2     4        9      3.0        2        4      1.0
3     5     4     2       11      3.7        2        5      1.5

In [189]:
# 연속증가개월수
def consec_inc_month(df, component, char): # df : 데이터프레임, component : 사용항목, char : 파생변수명 

    df[char] = 0     
    c_list = [component + str(i+10) for i in range(0,3)] # x_list : 연산에 사용할 항목들 리스트로 저장( 변수명_10~변수명_12 )
    df.loc[df[c_list].sum(axis=1) == 0, char] = -9999999 # x_10 ~ x_12 합계가 0일경우 SV(-9999999)

    for i in range(0,2): # for loop 2번 실행
        df.loc[df[c_list[i]] < df[c_list[i+1]], char] += 1 # 연속증가개월수 체크

In [192]:
consec_inc_month(woori,"a_", "char006") 
woori

   a_10  a_11  a_12  char001  char002  char003  char004  char005  char006
0     0     0     0        0      0.0        0        0      0.0 -9999999
1     1     2     3        6      2.0        1        3      1.0        2
2     3     2     4        9      3.0        2        4      1.0        1
3     5     4     2       11      3.7        2        5      1.5        0

In [209]:
# 비율 
def divide(component1, component2): # component1 : 분자, component2 : 분모
    
        if component2 == 0:
            return -9999999
        else:
            return round(component1/component2*100)

In [211]:
woori["char007"]=woori.apply(lambda x: divide(x.a_10, x.char001), axis=1)
woori

,a_10,a_11,a_12,char001,char002,char003,char004,char005,char006,char007
0,0,0,0,0,0.0,0,0,0.0,-9999999,-9999999
1,1,2,3,6,2.0,1,3,1.0,2,17
2,3,2,4,9,3.0,2,4,1.0,1,33
3,5,4,2,11,3.7,2,5,1.5,0,45